.client-devices-table-id {
    width: 20%;
}

.client-devices-table-description {
    width: 30%;
}

.client-devices-table-address {
    width: 30%;
}

.client-devices-table-max-consumption {
    width: 20%;
}